.instagramand-team-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.instagramand-team-profile {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
}
.instagramand-team-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius75);
}
.instagramand-team-container01 {
  flex: 2;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.instagramand-team-container02 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.instagramand-team-text {
  color: var(--dl-color-secondary-700);
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: var(--dl-space-space-halfunit);
}
.instagramand-team-link {
  display: contents;
}
.instagramand-team-component1 {
  text-decoration: none;
}
.instagramand-team-container03 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.instagramand-team-text01 {
  margin-right: var(--dl-space-space-unit);
}
.instagramand-team-text02 {
  color: var(--dl-color-secondary-700);
  font-style: normal;
  font-weight: 600;
}
.instagramand-team-text04 {
  margin-right: var(--dl-space-space-unit);
}
.instagramand-team-text05 {
  color: var(--dl-color-secondary-700);
  font-style: normal;
  font-weight: 600;
}
.instagramand-team-text08 {
  color: var(--dl-color-secondary-700);
  font-style: normal;
  font-weight: 600;
}
.instagramand-team-link1 {
  display: contents;
}
.instagramand-team-component2 {
  text-decoration: none;
}
.instagramand-team-blog-posts {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.instagramand-team-text11 {
  color: var(--dl-color-secondary-500);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.instagramand-team-container04 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.instagramand-team-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.instagramand-team-text14 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 32px;
}
.instagramand-team-navlink {
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.instagramand-team-navlink:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.instagramand-team-contact {
  width: 100%;
  max-width: 1320px;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-sixunits);
}
.instagramand-team-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: row;
  background-color: var(--dl-color-gray-white);
}
.instagramand-team-form {
  flex: 5;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.instagramand-team-text15 {
  color: var(--dl-color-secondary-500);
  margin-bottom: var(--dl-space-space-unit);
}
.instagramand-team-text17 {
  margin-bottom: var(--dl-space-space-doubleunit);
}
.instagramand-team-form1 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.instagramand-team-text18 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.instagramand-team-textinput {
  width: 100%;
  height: 40px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-secondary-100);
  padding-left: var(--dl-space-space-triplequarterunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-triplequarterunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.instagramand-team-textinput:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #e9aede;
  border-color: var(--dl-color-pink-200);
}
.instagramand-team-text19 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.instagramand-team-textinput1 {
  width: 100%;
  height: 40px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-secondary-100);
  padding-left: var(--dl-space-space-triplequarterunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-triplequarterunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.instagramand-team-textinput1:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #e9aede;
  border-color: var(--dl-color-pink-200);
}
.instagramand-team-text20 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.instagramand-team-textarea {
  width: 100%;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-secondary-100);
  padding-left: var(--dl-space-space-triplequarterunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-triplequarterunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.instagramand-team-textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #e9aede;
  border-color: var(--dl-color-pink-200);
}
.instagramand-team-container06 {
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.instagramand-team-container07 {
  display: flex;
}
.instagramand-team-info {
  flex: 4;
  color: var(--dl-color-gray-white);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  border-radius: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1507035895480-2b3156c31fc8?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fGJpa2V8ZW58MHx8fHwxNjU0ODUyNzE1&ixlib=rb-1.2.1&w=1400");
  border-top-right-radius: var(--dl-radius-radius-radius1);
  border-bottom-right-radius: var(--dl-radius-radius-radius1);
}
.instagramand-team-container08 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  z-index: 1;
  align-items: flex-start;
  flex-direction: column;
}
.instagramand-team-text21 {
  color: #000000;
}
.instagramand-team-text24 {
  color: #000000;
  opacity: 0.8;
}
.instagramand-team-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.instagramand-team-container10 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.instagramand-team-icon {
  fill: #000000;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.instagramand-team-link2 {
  color: #000000;
  opacity: 0.8;
  text-decoration: none;
}
.instagramand-team-container11 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.instagramand-team-icon02 {
  fill: #000000;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.instagramand-team-link3 {
  color: #000000;
  opacity: 0.8;
  text-decoration: none;
}
.instagramand-team-container12 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.instagramand-team-icon04 {
  fill: #020202;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.instagramand-team-text25 {
  color: #000000;
  opacity: 0.8;
}
.instagramand-team-container13 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.instagramand-team-icon06 {
  fill: #000000;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.instagramand-team-icon08 {
  fill: #000000;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.instagramand-team-icon10 {
  fill: #000000;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.instagramand-team-link4 {
  display: contents;
}
.instagramand-team-icon12 {
  fill: #000000;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .instagramand-team-container01 {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: var(--dl-space-space-tripleunit);
  }
  .instagramand-team-text14 {
    text-align: center;
  }
  .instagramand-team-container05 {
    flex-direction: column;
  }
  .instagramand-team-info {
    padding-left: 0px;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius1);
  }
}
@media(max-width: 767px) {
  .instagramand-team-profile {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .instagramand-team-container01 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .instagramand-team-container02 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .instagramand-team-text {
    margin-top: var(--dl-space-space-unit);
  }
  .instagramand-team-blog-posts {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .instagramand-team-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .instagramand-team-contact {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .instagramand-team-form {
    padding-top: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .instagramand-team-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
